    /* footer css */
    .foot{
      top:auto;
      bottom: 0;
      width: 100%;
      background-color: rgb(214, 210, 210);
      /* padding: 2px; */
      padding-left: 8px;
  
      margin-top: auto;
  }


